
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} TITLE {% endblock title %}</title>
</head>

<body>
    <a href="/contacts/">Contacts</a>
    <a href="/about/">About</a> 
    <a href="/layout/">Layout</a><hr>


</body>

</html>




<!-- Чтобы создать статическую страницу нужно:

        Установить приложение (плагин) из встроенного пакета Django (добавить все необходимые
         конфиги в настройки и URL).
        Создать админа.
        Через админ-панель создать статические HTML-странички.
        При желании можно завернуть эти странички в определённый шаблон, но если его не указывать,
         то по умолчанию контент и название должны находиться в шаблоне flatpages/default.html
          (убедитесь, что вы создали его, иначе на статическую страницу, которую вы создали, вы 
          можете не попасть из-за ошибки).  -->
